#table{
justify-content: center;
margin-top:1vh;
margin-bottom: 35vh;
text-align: center;
border-top: 1px solid black;
margin: 1vh 11vw 30vh 11vw;
}

#tr{
    display: flex;
    justify-content: center;

}
#th{
    margin-right: 5vw;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    width: 10vw;
    color: var(--primary-color);
}

#td{
    margin-right: 5vw;
    text-align: center;
    justify-content: center;
    width: 10vw ;
}

h1{
    text-align: center;
    margin-top: 25vh;
    color: var(--primary-color);

}

#container{
    margin-top: 25vh;
}