.caixa{
    background-color: var(--secudary-color);
    padding: 10px;
    border-radius: 15px;
    margin: 0 0 20vh 0;
    width: 16vw;
}

.container{
    justify-content: center;
  
    
    
    
}

.row{
    justify-content: center;
    
    text-align: center;
    align-content: center;
}