h1{
    text-align: center;
    color: var(--primary-color);
    margin:0 0 10vh 0;
}
#pix {
    border: 3px solid var(--primary-color);
    display: inline-block;
    font-size: 50px;
    border-radius: 15px;
    padding: 1vh;
    margin-left: 5vw;
    color: black;
}
#pix h2,i{
    margin:0 1vw 0 1vw;
}
.row{
    justify-content: center;
    margin: 10vh 0 5vh 500vh;
    align-items: center;
   
}

/* .col-sm-10 div{
    margin: 10vh 0 0 15vw;
} */

#boleto{
    display: inline-block;
    font-size: 50px;
    border-radius: 15px;
    padding: 1vh;
    border: 3px solid var(--primary-color);
    align-items: center;
    font-size: 40px;
    margin-left: 5vw;
    color:black;

}
/* .col-sm-9 div{
    margin-left: 2vw;
} */


#row{
    align-items: center;
    background-color: var(--secudary-color);
    margin-top: 1vh;
    border-radius: 500px;
}

#row2{
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 1vh;
    border-radius: 500px;
    padding: 1vh;
}


#row div{
    background-color: var();
}

.row > *{
    padding:0px !important;
    margin:0px !important ;
}

h2{
    text-align: left;
}
.container{
    margin: 12vh 0 20vh 0;
}

h3{
    text-align: right;
  
}

#container{
    background-color: var(--secudary-color);
    border-radius: 50px;
    padding: 2vh;
    color: var(--primary-color);
}