<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="~/images/teste.ico" type="image/x-icon" />

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/receitas.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <script src="https://kit.fontawesome.com/15068104d6.js" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Seaweed+Script&display=swap" rel="stylesheet">


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">




    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>

    <!-- início do preloader -->
    <div id="preloader">
        <div class="inner">
            <!-- HTML DA ANIMAÇÃO MUITO LOUCA DO SEU PRELOADER! -->
            <img src="~/images/Yogurt.gif" alt="">
        </div>
    </div>

</head>
    <!-- Body -->

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <h1>Receitas</h1>

                </div>
                <div class="col-sm-11">
                   
    
                    </div>
                </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="caixa">
                    <h5>Doce Aromático de Quinoa com Iogurte</h2>
                    <h5>Ingredientes</h2>
                   <ul>
                       <li>3 colheres (sopa) de quinoa mista em grãos</li>
                            <li>1 colher (chá) de adoçante</li>
                            <li>1 colher (sopa) de uvas-passas pretas</li>
                            <li>1 colher (sopa) de ameixa seca picada</li>
                            <li>2 morangos picados</li>
                            <li>1 Iogurte Vegurt® Morango (170 g)</li>
                   </ul>
                    <h5>Modo de Preparo</h3>

                    <ol>
                        <li>Em uma panela, coloque a quinoa acrescente 1 e meia xícara (chá) de água e cozinhe por cerca
                            de 10 minutos.</li>
                        <li>Escorra a água, acrescente o adoçante, as uvas-passas e ameixas secas, deixe esfriar e misture os morangos.</li>    
                        <li>Leve para gelar por 30 minutos.
                        </li>
                        <li> Junte o Iogurte Vergurt e a canela em pó. Salpique as nozes e sirva.</li>

                    </ol>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="caixa">
                    <h5>Macarrão Integral com Molho de Iogurte, Frango e Curry</h2>
                    <h5>Ingredientes</h2>
                    <ul>
                             <li>1 pitada de sal</li>
                            <li>150 g de macarrão tipo penne integral</li>
                            <li>meia colher (sopa) de azeite</li>
                            <li>1 colher (sopa) de cebola ralada</li>
                            <li>1 meia xícara (chá) de peito de frango cozido e desfiado</li>
                            <li>meia colher (chá) de curry em pó</li>
                            <li>1 colher (sopa) de manjericão picado</li>
                            <li>1 Iogurte Vegurt 50+® Natural 160 g</li>
                            1 pitada de pimenta-do-reino
                    </ul>
                    <h5>Modo de Preparo</h3>

                    <ol>
                        <li>Em uma panela, ferva 1 litro de água com o sal e cozinhe o macarrão por cerca de 10 minutos ou até ficar al dente.

                        </li>
                        <li>Escorra e reserve aquecido.

                        </li>    
                        <li>Em outra panela, aqueça o azeite e refogue a cebola  e o peito de frango.

                        </li>
                        <li>  Adicione o curry, o manjericão, o Iogurte Vergurt 50+ e a pimenta-do-reino e misture bem.
                        </li>
                        <li>Sirva a seguir, sobre o macarrão reservado.</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="caixa">
                    <h5>Poke de Vegurt com Frutas e Cereal</h2>
                    <h5>Ingredientes</h2>
                        <ul>
                            <li>3 colheres (sopa) de quinoa mista em grãos</li>
                            <li>1 colher (chá) de adoçante</li>
                            <li>1 colher (sopa) de uvas-passas pretas</li>
                            <li>1 colher (sopa) de ameixa seca picada</li>
                            <li>2 morangos picados</li>
                            1 Iogurte Vegurt® Morango (170 g)
                        </ul>
                    <h5>Modo de Preparo</h3>

                    <ol>
                        <li>Em uma panela, coloque a quinoa acrescente 1 e meia xícara (chá) de água e cozinhe por cerca
                            de 10 minutos.</li>
                        <li>Escorra a água, acrescente o adoçante, as uvas-passas e ameixas secas, deixe esfriar e misture os morangos.</li>    
                        <li>Leve para gelar por 30 minutos.
                        </li>
                        <li> Junte o Iogurte Vergurt e a canela em pó. Salpique as nozes e sirva.</li>

                    </ol>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="caixa">
                    <h5>Iogurte Vitamina De Frutas Com Purê De Goiaba, Morango e Beterraba
                    </h2>
                    <h5>Ingredientes</h2>
                    <ul>
                        <li>3 colheres (sopa) de quinoa mista em grãos</li>
                            <li>1 colher (chá) de adoçante</li>
                            <li>1 colher (sopa) de uvas-passas pretas</li>
                            <li>1 colher (sopa) de ameixa seca picada</li>
                            <li>2 morangos picados</li>
                            <li>1 Iogurte Vegurt® Morango (170 g)</li>
                    </ul>
                    <h5>Modo de Preparo</h3>

                    <ol>
                        <li>Em um liquidificador, bata a goiaba, o morango, a beterraba e o Leite.

                        </li>
                        <li>Coe e coloque no fundo de um copo longo.</li>    
                        <li> Despeje, delicadamente, o Iogurte Vegurt Vitamina  de Frutas e, com o auxílio de uma colher, puxe o purê pelas laterais do copo, para decorar. Sirva a seguir.
                        </li>
                      

                    </ol>
                </div>
            </div>
        </div>
    </div>

<script src="~/js/preloader.js"></script>
<script>
//<![CDATA[
$(window).on('load', function () {
    $('#preloader .inner').fadeOut();
    $('#preloader').delay(10).fadeOut('slow'); 
    $('body').delay(10).css({'overflow': 'visible'});
  })
  //]]>
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>