<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/saiba-mais.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <script src="https://kit.fontawesome.com/15068104d6.js" crossorigin="anonymous"></script>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saiba Mais</title>

     <!-- início do preloader -->
  <div id="preloader">
    <div class="inner">
       <!-- HTML DA ANIMAÇÃO MUITO LOUCA DO SEU PRELOADER! -->
       <img src="~/images/Yogurt.gif" alt="">
    </div>
</div>
</head>
    <!-- Body -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Saiba Mais</h1>
            </div>

        </div>

        <div class="row" id="row">
            <div class="col-sm-10">
                <p> <br> Leite de coco,
                    leite de amêndoas, leite de aveia, leite de arroz, leite de nozes e leite de soja são alguns dos
                    exemplos de leite vegetal, uma bebida similar ao leite, mas, que não é feita a partir do leite da
                    vaca, como na receita original da bebida tradicional.</p>
            </div>

            <div class="col-sm-2">
                <a href="https://www.mundoboaforma.com.br/7-beneficios-leite-vegetal-e-como-fazer-em-casa/"><button>Ver mais</button></a>
            </div>

        </div>

        <div class="row" id="row">
            <div class="col-sm-10">
                <p> <br> Leites vegetais: veja os prós e contras de cada um
                    Entenda quais os principais benefícios e problemas do leite de amêndoas, aveia, arroz, soja e castanha de caju</p>
            </div>

            <div class="col-sm-2">
                <a href="https://www.minhavida.com.br/materias/materia-12667"><button>Ver mais</button></a>
            </div>

        </div>

        <div class="row" id="row">
            <div class="col-sm-10">
                <p> <br>Leite vegetal x leite animal: conheça os benefícios e aprenda receitas
                    Leite de vaca faz mal? A troca para as versões vegetais é vantajosa? Tire estas e outras dúvidas e aprenda receitas das opções de amêndoas, coco, arroz e soja</p>
            </div>

            <div class="col-sm-2">
                <a href="https://revistacasaejardim.globo.com/Casa-e-Comida/Receitas/Ingredientes/noticia/2019/09/leite-vegetal-x-leite-animal-conheca-os-beneficios-e-aprenda-receitas.html"><button>Ver mais</button></a>
            </div>

        </div>

        <div class="row" id="row">
            <div class="col-sm-10">
                <p> <br> BENEFÍCIOS DOS LEITES VEGETAIS: SAIBA POR QUE INCLUÍ-LOS NA DIETA
                    Confira os benefícios dos leites vegetais para a saúde: veja por que incluir leite de amêndoas, de coco e outros na sua alimentação</p>
            </div>

            <div class="col-sm-2">
                <a href="https://blog.tudogostoso.com.br/materia/beneficios-dos-leites-vegetais/"><button>Ver mais</button></a>
            </div>

        </div>

        <div class="row" id="row">
            <div class="col-sm-10">
                <p> <br>Benefícios do leite vegetal
                    Por serem de origem vegetal, são naturalmente livres de colesterol,são pouco calóricos e contêm um baixo índice de açúcar, podendo ser ótimos aliados de quem quer perder peso.</p>
            </div>

            <div class="col-sm-2">
                <a href="https://gastrocardio.com.br/sem-categoria/beneficios-do-leite-vegetal/"><button>Ver mais</button></a>
            </div>

        </div>

        <div class="row" id="row">
            <div class="col-sm-10">
                <p> <br>Leites vegetais e seus benefícios
                    Além de delicioso, o leite vegetal é mais saudável do que o animal, pois conta com ingredientes ricos em nutrientes</p>
            </div>

            <div class="col-sm-2">
                <a href="https://namu.com.br/portal/alimentacao/bebidas/leites-vegetais-e-seus-beneficios/"><button>Ver mais</button></a>
            </div>

        </div>


    </div>

<script src="~/js/preloader.js"></script>
<script>
//<![CDATA[
$(window).on('load', function () {
    $('#preloader .inner').fadeOut();
    $('#preloader').delay(10).fadeOut('slow'); 
    $('body').delay(10).css({'overflow': 'visible'});
  })
  //]]>
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>